@layer reset {
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    button {
        background-color: transparent;
        cursor: pointer;
    }
}