:root {

    --black: #000;
    --green: #0C834B;
    --blue: #0B6BEF;
    --lightgreen: #E2FFE9;
    --lightblue: #E2F7FF;
    --deepblue: #0e2d91;
    --darkblue: #081943;
    --gray26:#26282c;
    --gray26: #26282c;
    --gray5e: #5e5e5e;
    --graye5: #e5e5e5;
    --grayf8: #f8f8f8;
    --graydd: #ddd;

}